<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="networkConfig"
             type="AgentApp.AditionalClasses.CustomConfig, AgentApp"/>
  </configSections>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <networkConfig>
   <instances>
    <add name="Nod1" ip="127.0.0.128" port="5000" neighbours="Nod2 Nod3 Nod4 Nod5 Nod6 Nod7" />
    <add name="Nod2" ip="127.0.0.129" port="7001" neighbours="Nod1" />
    <add name="Nod3" ip="127.0.0.130" port="7002" neighbours="Nod1" />
    <add name="Nod4" ip="127.0.0.131" port="7003" neighbours="Nod1" />
    <add name="Nod5" ip="127.0.0.132" port="7004" neighbours="Nod1" />
    <add name="Nod6" ip="127.0.0.133" port="7005" neighbours="Nod1" />
    <add name="Nod7" ip="127.0.0.134" port="7006" neighbours="Nod1" />
  </instances>
   </networkConfig>
</configuration>