<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="networkConfig"
             type="AgentApp.AditionalClasses.CustomConfig, AgentApp"/>
  </configSections>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="127.0.0.12" value="1234" />
    <add key="127.0.0.13" value="1235" />
    <add key="127.0.0.14" value="1236" />
  </appSettings>
  <networkConfig>
    <instances>
      <add name="Nod1" ip="127.0.0.12" port="1234" neighbours="Nod2 Nod3" />
      <add name="Nod2" ip="127.0.0.13" port="1235" neighbours="Nod1" />
      <add name="Nod3" ip="127.0.0.14" port="1236" neighbours="Nod1 Nod4" />
      <add name="Nod4" ip="127.0.0.15" port="1236" neighbours="Nod3" />
     </instances>
   </networkConfig>
</configuration>